.navbar-brand h1{	
	font-size:1.5em;	
	
	margin-top:0;
	margin-bottom:0;
	line-height: .75;	
	font-family: 'Playfair Display', serif;	
    text-align: center;

}
.navbar-brand p{
	margin-top:10px;
	font-size: .7em;
}

.navbar-brand p span{
	vertical-align: middle;

}
.navbar-brand a:hover,.navbar-brand a:focus{ 
	text-decoration: none;
}
#navList a:hover{
	font-size: 1em;
	background-color:#917926 ;
}

hr{
	border:1px solid green;
 }
 
.navbar-nav{
	text-transform: uppercase;
}

#attornyPic{	
	
	background-image: url("./img/Capitol.jpg");
	background-repeat: no-repeat;
	color: black;
	font-family: 'Playfair Display', serif;
	font-size: 18px;
	padding:15px;
	width:100%;
	height:80%;
}
.row{
	background-color:#917926;
	color:white;
	font-size: 18px;
	padding:15px;
}
@media (max-width:768px){
	
		.navbar-brand p{
		margin-top:15px;
		font-size: .5em;
		

	}
	.navbar-brand p span{
	vertical-align: middle;

	}
}